<div class="pn-content-centered centered col-md-6 has-logo-underlay">
	<h1 class="text-center">Forgot Password</h1>
	<div ng-show="loadComplete">
		<div class="content-container" ng-hide="submitted">
			<toasts></toasts>
			<div class="form-group">
				<label for="email">enter your email</label>
				<input name="email" type="email" class="form-control" ng-model="email" />
			</div>
			<div class="text-center">
				<button class="btn btn-primary" ng-click="doSubmit()">submit</button>
			</div>
		</div>
		<div class="content-container" ng-show="submitted">
			<h4 class="text-center">Your request has been submitted.</h4>
			<p class="text-center">Please check for an email from us to reset your password</p>
			<div class="text-center">
				<button class="btn btn-primary" ng-click="$state.go('login')">return to login</button>
			</div>
		</div>
	</div>
	<div ng-hide="loadComplete" class="content-container text-center loading">
		<img src="/assets/ajax-loader.gif">
	</div>
</div>
