.open-chat-window {
    height: 500px;
}

.minimized-chat-window {
    font-family: "Bitter", serif;
    background-color: #0ea1bc;
    height: 30px;
    cursor: pointer;
    span {
        color: white;
        font-size: 15px;
        padding-top: 5px;
    }
}

.pn-chat-window {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    position: fixed;
    bottom: 0;
    width: 24em;
    right: 50px;
    padding: 0;
    .minimized-chat {
        width: 100%;
        height: 100%;
    }
    .scrollable {
        overflow-y: auto;
    }
    .pn-chat-header {
        height: 50px;
        width: 100%;
        cursor: pointer;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22);
        background: #0ea1bc;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #0ea1bc 0%, #58bfd2 50%, #58bfd2 50%, #0ea1bc 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #0ea1bc 0%, #58bfd2 50%, #58bfd2 50%, #0ea1bc 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #0ea1bc 0%, #58bfd2 50%, #58bfd2 50%, #0ea1bc 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        .disabled {
            color: #dddddd;
            cursor: not-allowed;
        }
    }
    .chat-title {
        font-family: "Bitter", serif;
        span {
            color: white;
            margin: 0;
        }
        .small-title {
            font-size: 14px;
            padding-top: 15px;
        }
        .large-title {
            font-size: 16px;
            padding-top: 15px;
        }
        div {
            display: inline-block;
        }
    }
    .chat-button {
        margin: 0;
        height: 100%;
        font-size: 2vh;
        color: white;
        .fa {
            padding-top: 1.5vh;
        }
    }
    .notification {
        position: absolute;
        color: white;
        background-color: #ff9a39;
        padding: 0.2vh;
        top: 5.2vh;
        left: 0;
        width: 100%;
        font-size: 1.5vh;
        z-index: 2;
    }
    .selected {
        background-color: #dedede;
    }
    .list-element {
        position: relative;
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
        display: inline-block;
    }
    .chat-selection {
        height: 400px;
        span {
            display: inline;
            font-size: 1.5vh;
            font-family: "Bitter", serif;
            font-weight: 500;
            line-height: 1.1;
            color: #002b33;
        }
        .unread-message {
            i {
                font-size: 1.5vh;
                color: #ff9a39;
            }
        }
        .list-element {
            height: 40px;
            padding: 1.25vh;
        }
    }
    .upper {
        height: 160px;
    }
    .lower {
        height: 80px;
    }
    .user-select {
        margin-bottom: 1vh;
        h5 {
            color: #a6a6a6;
        }
        h4 {
            padding: 2vh;
            text-align: left;
        }
        .chat-img-partnr {
            height: 100%;
            display: inline-block;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 40px;
                height: 40px;
                margin-top: -20px;
                margin-left: -20px;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                cursor: pointer;
            }
        }
        .chat-img-list-partnr {
            display: inline-block;
            img {
                width: 3vh;
                height: 30px;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .list-element {
            height: 60px;
        }
    }
    .pn-chat-footer {
        position: absolute;
        margin: 0 auto;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 2;
        .chat-message-area {
            width: 80%;
            resize: none;
            height: 70px;
            margin: 0 auto;
        }
    }
    .chat-conversation {
        .title {
            font-family: "Bitter", serif;
        }
        overflow-y: auto;
        height: 330px;
        .chat-message {
            text-align: left;
            margin: 1vh;
            font-size: 1.4vh;
            span {
                color: #a6a6a6;
                text-align: left;
                display: inline;
            }
            div {
                margin-top: 1vh;
                padding-left: 1vw;
                font-size: 1.2vh;
            }

        }
    }
    .loading-screen {
        position: absolute;
        background-color: white;
        left: 0;
        top: 0;
        height: 330px;
        width: 100%;
    }
}
