//
// Content Holders
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.pn-content-centered.centered {
  float: none;
  margin: 0 auto;
}

.header-outside-container {
  margin-top: 15px;
  margin-bottom: 5px;
}

.content-container {
  background: $gray-bg;
  border-radius: $border-radius-container;
  border: 1px solid $brand-border-blue;
  padding: 15px;
  box-shadow: $default-box-shadow;

  &.no-padding {
    padding: 0;
  }

  &.with-tabs {
    border-radius: 0 0 3px 3px;
    border-top: 0;
  }

  &.thin {
    padding: 5px;
  }
}

.loading-wrapper {
  padding: 50px;
}

.loading-container {
  background: $gray-bg;
  border-radius: $border-radius-container;
  border: 1px solid $brand-border-blue;
  box-shadow: $default-box-shadow;
  width: 100px;
  height: 50px;
  float: none;
  margin: 0 auto;

  img {
    margin-top: 12px;
  }
}

.form-group.less-margin-bottom {
  margin-bottom: 5px;
}

.internal-container {
	border-radius: $border-radius-container;
	border: 1px solid #dddddd;
	padding: 10px;
	box-shadow: 0px 0px 3px 0px #cccccc;
	margin-top: 10px;
	margin-bottom: 10px;

  &.no-margin {
    margin: 0;
  }

  .title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: $brand-default-blue;
  }
}

.internal-container-link {
  cursor: pointer;
  border: 2px dashed #dddddd;
  box-shadow: none;
  padding: 0;

  h1 {
    margin: 0;
    font-size: 60px;
  }

  h4 {
    margin-top: 0;
  }

  h1, h4 {
    color: #999999;
  }

  &:hover {
    border-color: #aaaaaa;

    h1, h4 {
      color: #666666;
    }
  }
}
