<div class="form-group">
  <label for="email">email</label>
  <input name="email" type="email" class="form-control" ng-model="email" />
  <label for="password">password</label>
  <input name="password" type="password" class="form-control" ng-model="password" />
</div>
<div class="text-center">
  <button class="btn btn-primary centered" ng-click="doLogin()">log in</button><br>
  <p class="default-blue"><a ui-sref="account_create">create an account</a> | <a ui-sref="account_forgot_password">forgot password</a></p>
</div>

